html, body, nav, section, div, img, ul, p {
	margin: 0 auto;
	padding: 0;
	font-family: sans-serif;
}

#header {
	height: auto;
	background-color: #2a334f;
	padding-top: 2em;
	padding-bottom: 2em;
}

#headtext {
	text-align: center;
	font-family: Handlee, sans-serif;
	font-weight: 600;
	color: #e0cda7;
	font-size: 5em;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

#minortext {
	text-align: center;
	font-family: Handlee, sans-serif;
	font-weight: 100;
	color: #e0cda7;
	font-size: 1.1em;
	padding-left: 0.75;
	padding-right: 0.75;
}

#numero-uno {
	height: auto;
	width: 100%;
	background-color: #e0cda7;
	overflow: hidden;
	padding-top: 1em;
	padding-bottom: 1em;
}

.designpictureli {
	list-style-type: none;
}

#designpicture1 {
	height: auto;
	width: 20%;
	list-style-type: none;
	padding-left: 8%;
	float: left;
}

#designpicture2 {
	display: none;
	list-style-type: none;
}

#designinfo {
	list-style-type: none;
	padding-left: 4%;
	padding-right: 8%;
	width: 60%;
	font-size: 1em;
	color: #2a334f;
	float: left;
	font-family: Raleway, sans-serif;
	font-weight: 400;
}

#numero-dos {
	height: auto;
	width: 100%;
	background-color: #e0cda7;
	overflow: hidden;
	padding-top: 1em;
	padding-bottom: 1em;
}

.tattoopictureli {
	list-style-type: none;
}

#tattoopicture1 {
	height: auto;
	width: 20%;
	list-style-type: none;
	padding-left: 8%;
	float: left;
}

#tattoopicture2 {
	display: none;
}

#tattooinfo {
	list-style-type: none;
	padding-left: 4%;
	padding-right: 8%;
	width: 60%;
	font-size: 1em;
	color: #2a334f;
	float: left;
	font-family: Raleway, sans-serif;
	font-weight: 400;
}

#numero-tres {
	height: auto;
	width: 100%;
	background-color: #e0cda7;
	overflow: hidden;
	padding-top: 1em;
	padding-bottom: 1em;
}

.travelpictureli {
	list-style-type: none;
}

#travelpicture1 {
	height: auto;
	width: 20%;
	list-style-type: none;
	padding-left: 8%;
	float: left;
}

#travelpicture2 {
	display: none;
}

#travelinfo {
	list-style-type: none;
	padding-left: 4%;
	padding-right: 8%;
	width: 60%;
	font-size: 1em;
	color: #2a334f;
	float: left;
	font-family: Raleway, sans-serif;
	font-weight: 400;
}

.morelink {
	text-decoration: none;
	cursor: pointer;
	color: #2a334f;
	font-family: Raleway, sans-serif;
	font-weight: 400;
}

.moretext {
	display: none;
	font-family: Raleway, sans-serif;
	font-weight: 400;
}

#pictureboarddiv {
	background-color: #e0cda7;
	overflow: hidden;
}

.pictureboardli1 {
	list-style-type: none;
	height: 33.33%;
	width: 33.33%;
	float: left;
	background-color: #e0cda7;
}

.pictureboardli2 {
	list-style-type: none;
	height: 33.33%;
	width: 33.33%;
	float: left;
	background-color: #2a334f;
}

.pictureboardimg {
	height: 100%;
	width: auto;
	display: block;
}


@media (max-width: 640px) {

#headtext {
	font-size: 3em;
}

#designpicture1 {
	width: 30%;
}

#designinfo {
	width: 50%;
	font-size: 0.9em;
}

#tattoopicture1 {
	width: 30%;
}

#tattooinfo {
	width: 50%;
	font-size: 0.9em;
}

#travelpicture1 {
	width: 30%;
}

#travelinfo {
	width: 50%;
	font-size: 0.9em;
}

}

@media (min-width: 800px) {

#designpicture1 {
	width: 20%;
}

#designpicture2 {
	display: block;
	height: auto;
	width: 20%;
	list-style-type: none;
	padding-right: 8%;
	float: left;
}

#designinfo {
	padding-left: 2%;
	padding-right: 2%;
	width: 40%;
}

#tattoopicture1 {
	width: 20%;
}

#tattoopicture2 {
	display: block;
	height: auto;
	width: 20%;
	list-style-type: none;
	padding-right: 8%;
	float: left;
}

#tattooinfo {
	padding-left: 2%;
	padding-right: 2%;
	width: 40%;
}

#travelpicture1 {
	width: 20%;
}

#travelpicture2 {
	display: block;
	height: auto;
	width: 20%;
	list-style-type: none;
	padding-right: 8%;
	float: left;
}

#travelinfo {
	padding-left: 2%;
	padding-right: 2%;
	width: 40%;
}

.moretext {
	display: block;
}

}

@media (min-width: 1100px) {
.pictureboardli1 {
	height: 40%;
	width: 20%;
}

.pictureboardli2 {
	height: 40%;
	width: 20%;
}

}

@media (min-width: 550px) {

.moretext {
	display: block;
}

}